/*Revision History

#DEV                            DATE         MESSAGE
#Michael Leduc Clement 2210407  10-21-2022   Initial Project Setup
#Michael Leduc Clement 2210407  10-23-2022   Add form to products page and add classes for regular/premium ads
*/

.regular-img {
    width: 200px;
    height: 200px;
}

.premium-img {
    width: 400px;
    height: 400px;
}

.border-green {
    border: 6px solid greenyellow;
}